.form {
  width: 400px;
  height: 200px;
  margin-top: 40px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 8px;
}

.input {
  margin: 10px 0 10px;
  width: 300px;
  border: 1px solid black;
  padding: 2px 5px;
  border-radius: 3px;
  &:focus {
    outline: none;
    border-color: green;
  }
}
.password {
}
