.scale {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 20px;
  &__item {
    width: 60px;
  }
}
.gray {
  background-color: rgb(150, 150, 150);
}
.red {
  background-color: rgb(255, 88, 88);
}
.green {
  background-color: rgb(18, 243, 104);
}
.yellow {
  background-color: rgb(240, 255, 30);
}
