.scale {
  display: flex;

  height: 10px;
  &__item {
    width: 70px;
    margin-right: 5px;
    border-radius: 4px;
    transition: background-color 0.4s ease-out;
  }
}
.gray {
  background-color: rgb(150, 150, 150);
}
.red {
  background-color: rgb(255, 88, 88);
}
.green {
  background-color: rgb(18, 243, 104);
}
.yellow {
  background-color: rgb(240, 255, 30);
}
